<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
   <add name="SINAF_WebEntities" connectionString="metadata=res://*/Banco.SINAF_WebEntities.csdl|res://*/Banco.SINAF_WebEntities.ssdl|res://*/Banco.SINAF_WebEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL-CABTEC;initial catalog=db_interf_cabtec;user id=cabtec;password=cabtec;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
